@model ChatModel

<!DOCTYPE html>
    <html>
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>@ViewData["Title"] - ChatApp.Web</title>
      <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
      <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
      <link rel="stylesheet" href="~/ChatApp.Web.styles.css" asp-append-version="true" />

      <link href="~/css/chat.css" rel="stylesheet" />
      <!-- font awesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

      @await RenderSectionAsync("Styles", required: false)
    </head>
    <body>
    <div class="container-fluid">
        <div class="row" style="height: 100vh">
            <div class="col-lg-12">
                <div class="card chat-app">
                    <div id="plist" class="people-list">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" />
                            <span class="input-group-text"><i class="fa fa-search fa-lg"></i></span>
                        </div>
                        <ul class="list-unstyled chat-list mt-2 mb-0">
                            @foreach (var user in Model.Users)
                            {
                                <li id="@user.Id" class="clearfix friend">
                                    @if (user.Gender == ChatApp.Domain.Enums.Gender.Male)
                                    {
                                        <img src="~/imgs/male.png" alt="avatar">
                                    }
                                    else if (user.Gender == ChatApp.Domain.Enums.Gender.Female)
                                    {
                                        <img src="~/imgs/female.png" alt="avatar">
                                    }
                                    else
                                    {
                                        <img src="~/imgs/user.png" alt="avatar">
                                    }
                                    <div class="about">
                                        <div class="name">@user.Name</div>
                                        <div class="status"> <i class="fa fa-circle online"></i> online </div>
                                        @*  <div class="status"> <i class="fa fa-circle offline"></i> left 7 mins ago </div> *@
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>


      <script src="~/lib/jquery/dist/jquery.min.js"></script>
      <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
      <script src="~/js/site.js" asp-append-version="true"></script>

      <script src="~/js/signalr/dist/browser/signalr.js"></script>

      <script>
      </script>
      @await RenderSectionAsync("Scripts", required: false)
    </body>
    </html>
