@model LoginRequest;
@{
    ViewData["Title"] = "Login";

    MessageResponse msg = null;
    if (TempData["Message"] != null)
    {
        var json = TempData["Message"].ToString();
        msg = JsonConvert.DeserializeObject<MessageResponse>(json);

    }
}

<div class="row justify-content-center">
    <form method="POST" asp-action="Login" class="card col-sm-6 m-5 p-4">

            <!-- Email Address -->
            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" class="form-control" type="email" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <!-- Password -->
            <div class="mb-3">
                <label asp-for="Password" class="form-label">Password</label>
                <input asp-for="Password" class="form-control" type="password" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                <!-- Remember Me -->
                  <div class="form-check">
                      <input id="remember_me" type="checkbox" class="form-check-input" name="remember">
                      <label for="remember_me" class="form-check-label">Remember me</label>
                  </div>
                </div>

                <div class="col">
                    <!-- forget password -->
                    <a href="#!">Forgot password?</a>
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

            <div class="text-center">
                <p>if you don't have a account <a href="/Auth/Register">Register here</a></p>
            </div>

        </form>
    </div>

@section Scripts {
    @if (msg != null)
    {
        <script>
            Swal.fire({
                title: 'register success',
                text: '@msg.Message',
                icon: 'info',
                confirmButtonText: 'Ok'
            })
        </script>
    }
}

