@* @model ChatModel *@
@{
    Layout = "~/Views/Shared/_ChatLayout.cshtml";
    ViewData["Title"] = "Chat Here";
}

<div class="chat">
    <div class="chat-header clearfix">
        <div class="row">
            <div class="col-lg-6">
                <a href="javascript:void(0);">
                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
                </a>
                <div class="chat-about">
                    <h6 class="m-b-0">Aiden Chavez</h6>
                    <small>Last seen: 2 hours ago</small>
                </div>
            </div>
            <div class="col-lg-6 hidden-sm">
                <div class="float-end">
                    <a href="javascript:void(0);" class="btn btn-outline-info">
                        <i class="fa-solid fa-bars"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="chat-history" style="height: 430px; overflow-y: auto;">
        <ul class="m-b-0" id="messagesList">
            <!-- Messages will be appended here -->
        </ul>
    </div>
    <div class="chat-message clearfix">
        <div class="input-group mb-0">
            <input id="sender" type="hidden" value="senderId" />
            <input id="receiver" type="hidden" value="receiverId" />
            <input id="messageInput" type="text" class="form-control" placeholder="Enter text here" />
            <button id="sendButton" class="btn btn-outline-info" type="button">
                <i class="fa-solid fa-paper-plane"></i>
            </button>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('.friend').on('click', function () {
                const userId = $(this).attr('id');
                console.log(userId)
            })
        })
    </script>
    <script src="~/js/chat.js"></script>
}
